/models/*
!models/README.MD
/llamacpp/*
!llamacpp/README.MD
/prompt-cache/*
!prompt-cache/README.MD
/logs/*
!logs/README.MD
/document/*
!document/README.MD
/prompt-temp/*
!prompt-temp/README.MD
byte-vision-cfg.env
/frontend/node_modules/*
/frontend/dist/*
/frontend/build/*
/frontend/wailsjs/*
!frontend/src/*
claude.md

